.heading{
    text-align: center;
}
table{
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    
}
thead{
    background-color: #198754;
    color: white;
    padding:0.4rem 0;
}
thead tr th{
    padding: 8px 0px;
}
tbody tr td{
    padding: 8px 0px;
}
tbody tr:nth-child(odd) {
    background-color: #FFF
    
  }
  
  tbody tr:nth-child(even) {
    background-color: #CCC;
  }